version: '3.9'
services:
  backend:
    build: challenge-app/.
    container_name: backend
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
    ports:
      - 8080:8080
      - 8081:8081
    depends_on:
      - postgres
      - minio
    volumes:
      - ./logs:/app/logs

  frontend:
    build: challenge-web/.
    container_name: frontend
    ports:
      - 4200:80
    depends_on:
      - backend

  postgres:
    image: postgres:18.1-alpine
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: password@123
      POSTGRES_USER: postgres
      POSTGRES_DB: challenge
    ports:
      - 5432:5432
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./postgres:/docker-entrypoint-initdb.d

  grafana:
    image: grafana/grafana:12.3
    container_name: grafana
    environment:
      - name=value
    ports:
      - 3000:3000
    depends_on:
      - prometheus
    
  prometheus:
    image: prom/prometheus:v3.7.3
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - ./config/prometheus.yaml:/etc/prometheus/prometheus.yml

  loki:
    image: grafana/loki:3.5.8
    container_name: loki
    command: 
      - -config.file=/etc/loki/local-config.yaml
      - -print-config-stderr=true
    ports:
      - 3100:3100

  promtail:
    image: grafana/promtail:3.5.8
    container_name: promtail
    command: -config.file=/etc/promtail/promtail.yaml
    ports:
      - 9080:9080
    volumes:
      - "./logs:/logs/backend"
      - ./config/promtail.yaml:/etc/promtail/promtail.yaml
      - "./config/position:/position"
    depends_on:
      - loki
      - backend

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:v0.18.1
    container_name: postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/challenge?sslmode=disable"
    ports:
      - 9187:9187
    links:
      - postgres
      - prometheus

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio_admin
      MINIO_ROOT_PASSWORD: minio_admin_123
      MINIO_SERVER_URL: "http://localhost:9000"
    volumes:
      - ./minio/data:/data
    command: server /data --console-address ":9001"


  createbuckets:
    image: minio/mc:latest
    container_name: minio-create-bucket
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc alias set myminio http://minio:9000 minio_admin minio_admin_123;
      /usr/bin/mc mb myminio/transactions --ignore-existing;
      /usr/bin/mc mb myminio/failed-transactions --ignore-existing;
      /usr/bin/mc anonymous set download myminio/transactions;
      /usr/bin/mc anonymous set download myminio/failed-transactions;
      echo '<CORSConfiguration><CORSRule><AllowedOrigin>*</AllowedOrigin><AllowedMethod>GET</AllowedMethod><AllowedMethod>PUT</AllowedMethod><AllowedMethod>POST</AllowedMethod><AllowedMethod>DELETE</AllowedMethod><AllowedMethod>HEAD</AllowedMethod><AllowedHeader>*</AllowedHeader><ExposeHeader>ETag</ExposeHeader><MaxAgeSeconds>3000</MaxAgeSeconds></CORSRule></CORSConfiguration>' > /tmp/cors.xml;
      /usr/bin/mc cors set myminio/transactions /tmp/cors.xml;
      /usr/bin/mc cors set myminio/failed-transactions /tmp/cors.xml;
      exit 0;
      "